<nav class="navbar">
    <a class="navbutton" href="http://localhost:8080">Home</a>
    <a class="navbutton" href="http://localhost:8080/realTimeProducts?page=1">Catalogo</a>
    <a class="navbutton" href="http://localhost:8080/home">Carrito</a>
    <a class="navbutton" href="http://localhost:8080/views/users/login">Log-In</a>
    <a class="navbutton" href="http://localhost:8080/views/users/register">Registrarse</a>
</nav>

<section>
    <button id="createCart">
        Crear carrito
    </button>
</section>

<section>
    <h1>Carritos</h1>
    {{#if carritos.length}}
        <ul class="flexCart">
            {{#each carritos}}
            <div class="cartItem">
                <li>Id: {{this.id}}</li>
                <li>Productos: {{this.productsArray}}</li>
            </div>
            {{/each}}
        </ul>
        {{else}}
            <p>No hay carritos disponibles</p>
    {{/if}}
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>