<div>
    <h1>Register</h1>
    <form id="registerForm">
        <h2>Nombre completo</h2>
        <label for="name"></label>
        <input type="name" name="name">
        <br>
        <h2>Edad</h2>
        <label for="age"></label>
        <input type="age" name="age">
        <br>
        <h2>E-mail</h2>
        <label for="email"></label>
        <input type="email" name="email">
        <br>
        <h2>Rol</h2>
        <label for="role"></label>
        <select id="role" name="role">
            <option type="radio" value="user">User</option>
            <option type="radio" value="admin">Admin</option>
        </select>
        <br>
        <h2>Contraseña</h2>
        <label for="password"></label>
        <input type="password" name="password">
        <br>
        <input type="submit" class="submitButton">
    </form>
    <br>
    <a href="/views/users/login">Log-In</a>
    <br>
    <a href="/api/sessions/github">Registrarse con Github</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>